<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.hellospring.repository.StockMapper">
    <select id="getStock" resultType="java.util.HashMap">
        SELECT * FROM STOCK;
    </select>

    <select id="getOneStock" parameterType="int" resultType="java.util.HashMap">
        SELECT ID, NAME, PRICE, PICTURE, DETAIL, RECOMMENDED FROM  STOCK WHERE ID=#{ID}
    </select>
</mapper>